body {
  background-image: url(http://wallpaper.imcphoto.net/nature-full-hd/milky-way-sky-nature-wallpaper.jpg);
}

#nav1 {
  padding-top: 10px;
  font-size: 140%;
  display: flex;
  justify-content: space-between;
}

#jumbo {
  width: 300px;
  margin: 100px auto;
  background-color: transparent;
  color: white;
  text-align: center;
}

#jumbo button {
  margin-top: 25px;
}

#articlesRow {
  width: 600px;
  height: 830px;
  font-size: 110%;
  padding: 10px 10px;
  position: absolute;
  top: 70px;
  left: 30px;
  background-color: transparent;
  color: black;
  overflow-y: auto;
}

#events {
  width: 400px;
  height: 500px;
  position: absolute;
  right: 30px;
  top: 70px;
  overflow-y: auto;
}